* {
  margin: 0;
  padding: 0;
}
.page {
  background-color: #f6d050;
  width: 100%;
  height: 100vh;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.card {
  width: 280px;
  height: fit-content;
  border: solid 1px black;
  box-shadow: 5px 5px 0px black;

  border-radius: 10px;
  background-color: white;
}
.card img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  width: 240px;
  margin: auto;
  border-radius: 20px;
}
.card h6 {
  background-color: #f6d050;
  font-size: smaller;
  font-weight: bolder;
  width: fit-content;
  padding: 3px 6px;
  margin-left: 20px;
  border-radius: 5px;
}
.card p {
  font-size: smaller;
  margin-left: 20px;
  padding-top: 10px;
}
.card h4 {
  font-weight: bolder;
  margin-left: 20px;
  padding-top: 10px;
}
.des {
  color: gray;
}
.profile {
  display: flex;
  align-items: center;
  margin: 30px;
  position: relative;
}
.profile img {
  width: 25px;
  height: 25px;
  position: absolute;
  left: -30px;
}
.profile h5 {
  font-size: x-small;
  position: absolute;
  left: 20px;
}
@media screen and(max-width:600px) {
  .card{
    width: 90%;
    
  }
  
}